<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
    <header></header>
    <div id="form">
        <input id="name" type="text" placeholder="name" class="">
        <div class="failed-signup-msg">
            <p></p>
        </div>

        <input id="email" type="text" placeholder="email" class="">
        <div class="failed-signup-msg">
            <p></p>
        </div>

        <input id="password" type="password" placeholder="password" class="">
        <div class="failed-signup-msg">
            <p></p>
        </div>

        <button id="submit">Signup</button>
    </div>
</body>
<script type="module" src="../js/components/header.js"></script>
<script type="module" src="../js/controllers/signup.js"></script>

</html>